/* center text */
.container {
    position: center;
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: xx-large;
  }


  
  div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
  }

  .container 
  .bottom :right{
    position: absolute;
    text-align: bottom right;
    bottom: 8px;
    right: 16px; 
  }





  div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
  }




  div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
 
  }
 
 
  div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
  }



  
  

div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
  }




  .div {
    position: center;
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: xx-large;
  }

  div {
    font-size: 20px;
  }

  body {
      position: center;
      text-align: center;
  }














  










